@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400&family=Roboto&display=swap');

:root {
    --darkblue:rgb(4, 4, 59);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: rgb(4, 4, 59);
    position: -webkit-sticky;
    position: sticky;
}

h1 {
    color: whitesmoke;
    font-family:'Josefin Sans', sans-serif;
    text-shadow: 0 0 10px rgba(225,225,225, 0.5);
    font-size: 30px;
}

h1 a {
    text-decoration: none;
    color: whitesmoke;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

p {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

nav li a {
    font-weight: 500;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover {
    text-shadow: 5px 5px 10px rgba(225,225,225, 0.8);
}


.fa {
    justify-content: space-evenly;
    width: 80px;
    text-align: center;
    text-decoration: none;
    color:whitesmoke;
  }

  .fa:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/HERO-IMG_3640X1600.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-attachment: fixed;
  }

  .hero-bio {
      width: 30%;
      text-align: left;
      justify-self: left;
      margin: 3% 7% 3% 0;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

  .bio-name {
      font-size: 40px;
  }
  .hero-bio p {
    font-size: 25px;
  }

  .hero img {
    max-width: 100%;
    height: auto;
    margin: 3.5%;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(59, 59, 59, 0.3);
  }

  #projects {
      display: flex;
      align-items: center;
      padding: 20px 0 20px 0;
      flex-wrap: wrap;
  }

  #on-air {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    flex-wrap: wrap;
  }

  #contact {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    flex-wrap: wrap;
  }

  .sidebar {
      display: flex;
      justify-content: flex-end;
      align-self: flex-start;
      flex-grow: 1;
      padding-right: 15px;
      /* border: 3px solid black; */
  }

  .content-container {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: space-around;
      border-left: 10px solid darkblue;
  }

  .content-container img {
      max-width: 100%;
      height: auto;
      /* align-items: space-between; */
      opacity: 0.3;
      background-color: royalblue;
      transition: .5s ease;
  }

  .border {
    margin: 0;
    border: 5px solid;
    border-color: darkblue;
  }

  .container-title {
    display: flex;
    font-family:'Josefin Sans', sans-serif;
    font-size: 50px;
    color: darkblue;
  }

  

  .project-panels {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      /* align-items:center; */
      position: relative;
      color: var (darkblue);
      border-radius: 30px;
  }

  .run-buddy-label {
      position: absolute;
      left: 2.3%;
      bottom: 5%;
      font-family: 'Roboto', sans-serif;
      color: whitesmoke;
      background-color:darkblue;
      padding: 20px;
      font-size: 30px;
      text-shadow: 0 0 10px rgba(225,225,225, 0.5);
  }

  .horisieon-label {
      position: absolute;
      left: 52.5%;
      bottom: 5%;
      font-family: 'Roboto', sans-serif;
      color: whitesmoke;
      background-color:darkblue;
      padding: 20px;
      font-size: 30px;
      text-shadow: 0 0 10px rgba(225,225,225, 0.5);
  }

    .content-container img:hover {
      opacity: 1;
  }

    .content-container iframe {
    opacity: 0.3;
    transition: .5s ease;
}

  .content-container iframe:hover {
    opacity: 1;
}

 address {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
    max-width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: whitesmoke;
    background-color: darkblue;
    border-radius: 15px;
 }

 address a {
    color: whitesmoke;
    text-decoration: none;
 }

 address a:hover {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 }


 footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: rgb(4, 4, 59);
    position: -webkit-sticky;
    position: sticky;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 }
 

@media screen and (max-width: 980px) {
    header {
        display: flex;
        align-content: space-around;
        flex-direction: column;
    }

    h1, nav, .social-buttons {
        padding: 10px;
    }

    .hero-bio {
        text-align: center;
        width: 100%;
    }

    .hero-img {
        width: auto;
        height: auto;
    }

    .hero {
        width: 100%;
        height: auto;
    }

    .run-buddy-label {
        position: sticky;
    }

    .horisieon-label {
        position: sticky;
    }

    .border {
        margin: 5%;
    }

    .content-container {
        width: 100%;
    }

    address {
        text-align: center;
        width: auto;
        padding: auto;
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        position: relative;

    }
} 

@media screen and (max-width: 575px) {}
